.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-card {
    margin: auto;
    width: 100%;
    border: 8px solid #d1c76d;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 12px 12px 0 rgba(168, 156, 114, 0.4);
  }
  
  
  
  .d-block {
    width: 100%;
    /* A kép szélessége megegyezik a tartalmazó elem szélességével */
    height: auto;
    /* A kép magassága automatikusan igazodik a szélességhez */
    object-fit: cover;
    /* A kép kitölti a tartalmazó elemet anélkül, hogy torzulna */
  }
  
  /*.navbar-logo {
    height: 70px;
    /* Állítsd be a logó magasságát*/
    /*margin-right: auto;*/
    /* A logó balra igazítása*/
  /*}*/
  
  
  .container {
    margin: auto;
    width: 100%;
    border: 5px solid #d1c76d;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 12px 12px 0 rgba(168, 156, 114, 0.4);
  
  }
  .card-img-top {
    width: 50%; /* A kép szélességének beállítása */
    height: 340px; /* A kép magasságának beállítása */
    object-fit: cover; /* A kép méretezésének beállítása */
    object-position: center; /* A kép középre igazítása */
    border-radius: 20px; /* Kép lekerekítése */
   
  }
  
  
  .caption-text {
    text-shadow: 15px 15px 20px #000000; /* Árnyékolás hozzáadása */
    font-family: 'Rocher';
    font-size: 30px;
    height: 20vh;
    
    justify-content: center;
  }
  
  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  body {
    font-family: 'Rocher';
  
  }